.gradient-custom {
    /* fallback for old browsers */
    background: rgb(8, 37, 37);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,rgb(8, 37, 37), rgb(11, 104, 56));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(8, 37, 37),rgb(11, 104, 56))
    }