<section class="seccion-clara">
    <h1> Sobre Mi</h1>
    <div class=" container row">
        <div class="col--xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="/assets/fotoperfil.png" alt="foto perfil taty" class="img-fluid">
        </div>
        <div class="col--xs-12 col-sm-3 col-md-3 col-lg-3">
            <h2 id="nombre">Dante Ruben Fresco</h2>
        </div>
        <div class="col--xs-12 col-sm-6 col-md-6 col-lg-6">
            <span>
                <p>Soy técnico en Diseño Artístico Audiovisual, mi fuerte es la fotografía y cámara 
                y la edición de video. 
                Los años de estudio y la experiencia laboral, me han permitido desarrollar un 
                carácter dinámico, profesional y comprometido. Además de mi formación 
                universitaria, me he capacitado en el manejo de drone y en programación, 
                áreas que me permiten enriquecer las propuestas audiovisuales en las que trabajo.</p>
            </span>
        </div>
    </div>
  </section>
